<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <connectionStrings>
    
    <add name="DBSBank" connectionString="Data Source=EUNB90ZNL72\sqlexpress;Initial Catalog=Bank;Integrated Security=True" />
  </connectionStrings>
  
</configuration>
<!--<add name="BankCon" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="C:\Users\PXWalsh\Downloads\PaulWalsh_AdvProgAssignment\PaulWalsh_AdvProgAssignment\DBS Bank\DBSBank\Bank.mdf";Integrated Security=True />-->
